.formulair-contenair{
    border: 1px solid #333;
    box-shadow: 1px 1px 4px  #333;
    margin: auto;
    background:#317ac1;
    padding: 15px;

}
.formulair-contenair .image{
    width: 100%;
}
*{
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
}
.from{
    margin-top: 10%;
    width: 100%;
}

button{
    margin-top: 20px;
    padding: 6px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.btn1{
    background-color: #0067b8;
      color: #ffffff;
      cursor: pointer;
      border: none;
      outline: none;
      width: 70%;
      margin-right: 70px;
}
.form1 .suivant{
  background-color: #0067b8;
      color: #ffffff;
      cursor: pointer;
      border: none;
      outline: none;

}

.form1 .suivant a{
  text-align: center;
  text-decoration: none;
  list-style: none;
  color: white;
}
.btn1:hover{
    background-color: #005da6;
}

.btn2{
    background-color: rgba(0,0,0,0.2);
      text-align: center;
      border: none;
      outline: none;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      text-overflow: ellipsis;
      touch-action: manipulation;
      color: #000;
      cursor: pointer;
      width: 70%;
      margin-right: 70px;
}

.form1 .editer{
  background-color: rgba(0,0,0,0.2);
  text-align: center;
  border: none;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  touch-action: manipulation;
  color: #ffffff;
  cursor: pointer;
}

img{
    height: 290px;
}

.btn2:hover{
    color: #333;
    cursor: pointer;
}

body{
    text-align: center;
    align-items: center;
    
}


@media (max-width: 991px){

    .from{
        margin-top: 30%;
        width: 100%;
    }
    
}

/* fin de la parge d'acceuil */

/* incrption.html >>>>>>>>>>>>>>> */
/* Microsoft log in page made by: csozi | Website: english.csozi.hu*/

.form {
    /*Scale only to make it look right on the preview*/
      scale: 0.8;
      height: 250px;
      box-sizing: content-box;
      padding: 44px;
      margin: auto;
      margin-bottom: 10%;
  
    }
    
    .form .title {
      color: #1b1b1b;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 0;
      margin-top: 16px;
      margin-bottom: 12px;
      font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
    }
    
    .form .email {
      width: 100%;
      padding: 6px 10px 6px 0px;
      border-style: solid;
      border-width: 0px;
      border-bottom-width: 1px;
      border-color: rgba(0, 0, 0, 0.6);
      height: 36px;
      outline: none;
      background-color: transparent;
      padding-left: 0;
      color: #000000;
      margin-bottom: 16px;
    }
    
    .form .email {
      border-color: rgba(0, 0, 0, 0.8);
    }
    
    .form .text {
      color: #1b1b1b;
      font-family: "Segoe UI Webfont",-apple-system,"Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
      font-weight: 400;
      line-height: 1.25rem;
      margin-bottom: 16px;
      font-size: .8125rem;
    }
    
    .form .text a {
      color: #0067B8;
    }

    .recu{
      margin-top: 20px;
 
    }
    
    .recu p a{
      color:#0067B8;
    }
    .form .button_row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      justify-content: end;
      height: fit-content;
      gap: 4px;
    }
    
    .form .button_row .button {
      width: 108px;
      height: 32px;
      box-sizing: content-box;
      padding: 4 12 4 12;
      border: none;
      font-size: 15px;
    }
    
    .form .button_row .secondary_button {
      background-color: rgba(0,0,0,0.2);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      text-overflow: ellipsis;
      touch-action: manipulation;
      color: #000;
      cursor: pointer;
    }

    .form .button_row .secondary_button a{
        color: #000;
    }
    
    .form .button_row .secondary_button:hover {
      background-color: rgba(0,0,0,0.3);
    }
    
    .form .button_row .primary_button {
      background-color: #0067b8;
      color: #ffffff;
      cursor: pointer;
    }

    .form .button_row .primary_button a{
        color: white;
    }
    
    .form .button_row .primary_button:hover {
      background-color: #005da6;
    }


.form img{
    height: 100px;
}

.head-from{
    display: flex;
    justify-content: center;

}

@media (max-width: 991px){
    .head-from{
        display: block;
        position: absolute;
    }

    .form{
        position: relative;
        margin-top: -99px;
        margin-bottom: 10%;
    }
}


.image-example1 img{
    height: 200px;
}

.posit{
    background:#005da6;
    width: 100%;
    color: white;
    padding-bottom: 120px;
    border: #333;
    box-shadow: 2px 6px 8px #333;
}

.posit p{
   padding-top: 20px;
}


/* bubble */

.div{
  width: 30px;
  height: 30px;
  border: .3px solid white;
  border-radius: 50px;
  position: absolute;
  top: 40%;
  left: 10%;
  animation: keyr 4s linear infinite;
}

.dot{
  height: 5px;
  width: 5px;
  border-radius: 50px;
  background: rgb(255, 255, 255,0.7);
  position: absolute;
  top: 0%;
  right: 40%;

}

.div:nth-child(1){
  top: 20%;
  left: 40%;
  animation: keyr 6.2s linear infinite;
}

.div:nth-child(2){
  top: 10%;
  left: 80%;
  animation:keyr 5s linear infinite;
}

.div:nth-child(3){
  top: 10%;
  left: 50%;
  animation: keyr 7s linear infinite;
}

.div:nth-child(4){
  top: 20%;
  left: 10%;
  animation:  keyr  3s linear infinite;
}

.div:nth-child(5){
  top: 17%;
  left: 30%;
  animation: keyr 7s linear infinite;
}

.div:nth-child(6){
  top: 80%;
  left: 40%;
  animation:  keyr 4s linear infinite;
}


.div:nth-child(7){
  top: 90%;
  left: 10%;
  animation: keyr 6s linear infinite;
}

.div:nth-child(8){
  top: 14%;
  left: 10%;
  animation: keyr 5s linear infinite;
}

.div:nth-child(10){
  top: 34%;
  left: 30%;
  animation: keyr 3s linear infinite;
}

.div:nth-child(11){
  top: 6%;
  left: 50%;
  animation:  keyr 4s linear infinite;
}

.div:nth-child(12){
  top: 6%;
  left: 30%;
  animation:  keyr 4s linear infinite;
}



@keyframes keyr {
  0%{
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100%{
    transform: scale(1) translateY(-90px) rotate(0deg);
  }


  
}


/* number infos */

#show{
  display: none;
}
.form1 {
  display: flex;
  flex-direction: column;
  background: #000000;
  background: #000000;
  background: #000000;
  padding: 20px;
  border-radius: 10px;
  max-width: 350px;
  top: 0;
  transition: .3s ease-in-out;
  position: relative;
  margin-top: -204%;
  margin-bottom: 30%;
}

.form1 .title {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #fff;
}

.description {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  color: rgb(235, 235, 236);
}

.form1 h4{
  color: white;
}

.form1 div {
  display: flex;
  max-width: 28rem;
  margin-top: 1rem;
  column-gap: 0.5rem;
}

.form1 div input {
  outline: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: rgb(255 255 255 );
  padding: 0.5rem 0.875rem;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(253, 253, 253, 0.363);
  border-radius: 0.375rem;
  flex: 1 1 auto;
}

.form1 div input::placeholder {
  color: rgb(216, 212, 212);
}

.form1 div input:focus {
  border: 1px solid rgb(99 102 241);
}

.form1 div button {
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: rgb(99 102 241);
  border-radius: 0.375rem;
  border: none;
  outline: none;
}

.form1 p{
  color: white;
}



